qmux_socket(rild)

# whitelist qualcomm specific ioctls
allow rild self:socket ioctl;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;
allowxperm rild self:udp_socket ioctl priv_sock_ioctls;

# Allow rils to access radio data file
allow rild radio_data_file:dir rw_dir_perms;
allow rild radio_data_file:file create_file_perms;

# dev_type
allow rild device:dir rw_dir_perms;
allow rild device:file create_file_perms;
allow rild smd_cxm_qmi_device:chr_file { open write };
